.headlines, .datelines, .bodytext {font color:white; background:black; line-height:1.2}

.headlines {FONT face:geneva,arial; font-size:18pt; font-weight:bold;}
.datelines {FONT face:geneva,arial; font-size:8pt; font-style:italic;}
.bodytext {FONT face:geneva,arial; font-size:10pt; font-style:normal;}