# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore PhpStorm project files.
.idea

# Ignore Mac file system files.
.DS_Store
