.banner_headline
{
	color: #FFFFFF; font-size:60px;
	font-family:"TArial, Helvetica, sans-serif;
	font-weight:bold, italic;
}

.black_subheading {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

.coloured_subheading {
	font-family: Arial, Helvetica, sans-serif;
	color: #BD5109;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
}
.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
}
.footertext {
	color: #000000;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.greenfootertext {
	color: #009900;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.redfootertext {
	color: #FF0000;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.boldfootertext {
	color: #000000;
	font-size: 10px;
	font-style: italic;
	font-weight: bolder;
	font-variant: normal;
	font-family: Times New Roman, serif;
}

.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	color: #000000;
}

.frm_table 
{
	background-color:"black";
}

.frm_header_td
{
	background-color:#EEEEEE;
	color:#FFFFFF;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	height:20px;
	font-weight:bold;
}

.frm_td
{
 background-color:#FFFFFF;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	height:20px;
	color:#999999;
}

.frm_fields
{
background-color:#EEEEEE;
}

.frm_banner
{
	bgcolor="black";
}


a {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-size: 13px;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #FF0000;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
}
a:active {
	text-decoration: none;
}

