.background {background-color:black;}

.headlines, .datelines, .bodytext, .subheadlines
{
	color:white; 
	background:transparent; 
	line-height:1.2;
	left: 10px;
}

.headlines {font-family:arial, helvetica; font-size:18pt; font-weight:bold;}
.yellowheadlines {font-family:arial, helvetica; font-size:18pt; font-weight:bold; color:#ffcc00; }
.subheadlines {font-family:arial, helvetica; font-size:12pt; font-weight:bold;}
.datelines {font-family:arial, helvetica; font-size:8pt; font-style:italic;}
.bodytext {font-family:arial, helvetica; font-size:10pt; font-style:normal;}
.subheadingitalic {font-family:arial, helvetica; font-size:10pt; font-style:italic; color:yellow;}

.td {
margin-left: 10px;
width:479px;
padding:0px;
border:0px;
}

.rhtable_headlines {font-size:18pt; font-weight:normal;}
.lhbar_headlines {font-family:arial, helvetica; font-size:10pt; font-weight:normal; color:white; line-height:1}
.lhbar_listitems {font-family:Arial, Helvetica,Geneva, Swiss, SunSans; font-size:7.5pt; font-weight:normal; color:white; line-height:1.4}
