#main-wrapper {
  /*min-height: 1000px; */
}

#content .section {
  padding: 0 10px 0 10px;
}

.sidebar-second #content .section {
  padding-left: 10px;
}


.region-sidebar-second .section {
  margin-left: 0;
}

.region-sidebar-first .section {
  margin-right: 0;
}
